BOT_TOKEN=tu_token_aqui
RENDER_URL=https://tu-app.onrender.com
API_FOOTBALL_KEY=tu_api_key_aqui
ADMIN_IDS=123456789
TRANSFER_PHONE=+5355555555
TRANSFER_CUP_ACCOUNT=92000000000
MIN_DEPOSIT_CUP=100
MIN_DEPOSIT_SALDO=50
CUP_TO_CREDIT=0.004
PORT=10000
